*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background-color: rgb(102, 90, 72);
}
.search-cont{
  height: 80px;
  border-bottom: 1px solid black;
}
.search-cont form{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-cont form input, .search-cont form button{
  height: 50px;
  font-size: 25px;
  border-radius: 8px;
}
.error-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.error-cont h1{
  color: #a13636;
}
.acc-cont{
  background-color: #f1c32c8e;
}
.about-cont{
  padding: 15px;
  width: 85%;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.about-cont img{
  border-radius: 50%;
  width: 40%;
  height: 40%;
}
.about-cont div{
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.about-cont div h5 {
  font-size: 22px;
}
.about-cont div p {
  font-size: 18px;
}
.about-cont div p span{
  font-weight: 500;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
