*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background-color: navajowhite;
}
.search-cont{
  height: 80px;
  border-bottom: 1px solid black;
}
.search-cont form{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-cont form input, .search-cont form button{
  height: 50px;
  font-size: 25px;
  border-radius: 8px;
}
.error-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.error-cont h1{
  color: #a13636;
}
.acc-cont{
  background-color: #a13636;
}
.about-cont{
  width: 85%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}